

                                                    <!-- Deposit -->

<h2>Welcome {{user}}</h2>
<p class="text-white mx-4">{{dateNtime | date  : 'medium'}}</p>
<a routerLink="/transaction" class="p-3 m-3">Transaction History</a>
<button class="btn btn-primary float-right" type="submit" (click)="logout()">Logout</button>
<button class="btn btn-primary m-3" type="submit" (click)="delete()">Delete Account</button>


<app-deleteconfirm [item]="acno"></app-deleteconfirm>


<div [ngClass]="acno?'style':''" class="container w-50 bgclr mt-5 rounded">
    <br>
    <h1 class="text-center text-white" style="font-family: 'Public Sans', sans-serif;">Deposit</h1>
    <form (ngSubmit)="deposit()" action="" class="container w-75 mt-4" [formGroup]="dashForm">
        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" formControlName="acno" name="acno" id="acid" placeholder="udata">
            <label for="acid">Account Number</label>
        </div>
        <div *ngIf="this.dashForm.get('acno')?.errors && this.dashForm.get('acno')?.touched">
            <p class="text-danger"><small>Invalid Account Number</small></p>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control rounded-0" id="pid" name="psw" formControlName="psw" placeholder="Password">
            <label for="pid">Password</label>
        </div>
        <div *ngIf="this.dashForm.get('psw')?.touched">
            <p><small></small></p>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" formControlName="amnt" name="amnt" id="amtid" placeholder="amt">
            <label for="amtid">Amount</label>
        </div>
        <div *ngIf="this.dashForm.get('amnt')?.errors && this.dashForm.get('amnt')?.touched">
            <p class="text-danger"><small>Enter a valid amount</small></p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4 text-center w-50 rounded-0 mb-4">Deposit</button>
        </div>
    </form>
</div>


                                                             <!-- Withdraw -->

<br><br><br><br>
<div [ngClass]="acno?'style':''" class="container w-50 bgclr mt-5 rounded">
    <br>
    <h1 class="text-center text-white" style="font-family: 'Public Sans', sans-serif;">Withdraw</h1>
    <form (ngSubmit)="withdraw()" [formGroup]="dashForm" action="" class="container w-75 mt-4">
        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" formControlName="acntno" name="acno" id="acid" placeholder="udata">
            <label for="acid">Account Number</label>
        </div>
        <div *ngIf="this.dashForm.get('acntno')?.errors && this.dashForm.get('acntno')?.touched">
            <p class="text-danger"><small>Invalid Account Number</small></p>
        </div>


        <div class="form-floating">
            <input type="password" class="form-control rounded-0" id="pid" name="psw" formControlName="pswd" placeholder="Password">
            <label for="pid">Password</label>
        </div>
        <div *ngIf="this.dashForm.get('pswd')?.touched">
            <p><small></small></p>
        </div>


        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" formControlName="amt" name="amnt" id="amtid" placeholder="amt">
            <label for="amtid">Amount</label>
        </div>
        <div *ngIf="this.dashForm.get('amt')?.errors && this.dashForm.get('amt')?.touched">
            <p class="text-danger"><small>Enter a valid amount</small></p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4 text-center w-50 rounded-0 mb-4">Withdraw</button>
        </div>
    </form>
</div>
