

                                                    <!-- Deposit -->

<h2>Welcome {{user}}</h2>
<a routerLink="/transaction" class="p-3 m-3">Transaction History</a>
<div class="container w-50 bgclr mt-5 rounded">
    <br>
    <h1 class="text-center text-white" style="font-family: 'Public Sans', sans-serif;">Deposit</h1>
    <form (ngSubmit)="deposit()" action="" class="container w-75 text-center mt-4">
        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" [(ngModel)]="acno" name="acno" id="acid" placeholder="udata">
            <label for="acid">Account Number</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control rounded-0" id="pid" name="psw" [(ngModel)]="psw" placeholder="Password">
            <label for="pid">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" [(ngModel)]="amnt" name="amnt" id="amtid" placeholder="amt">
            <label for="amtid">Amount</label>
        </div>
        <button type="submit" class="btn btn-primary mt-4 text-center w-50 rounded-0 mb-4">Deposit</button>
    </form>
</div>


                                                             <!-- Withdraw -->

<br><br><br><br>
<div class="container w-50 bgclr mt-5 rounded">
    <br>
    <h1 class="text-center text-white" style="font-family: 'Public Sans', sans-serif;">Withdraw</h1>
    <form (ngSubmit)="withdraw()" action="" class="container w-75 text-center mt-4">
        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" [(ngModel)]="acntno" name="acno" id="acid" placeholder="udata">
            <label for="acid">Account Number</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control rounded-0" id="pid" name="psw" [(ngModel)]="pswd" placeholder="Password">
            <label for="pid">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0 mt-4" [(ngModel)]="amt" name="amnt" id="amtid" placeholder="amt">
            <label for="amtid">Amount</label>
        </div>
        <button type="submit" class="btn btn-primary mt-4 text-center w-50 rounded-0 mb-4">Withdraw</button>
    </form>
</div>
